*.obj
*.ipch
*.sdf
*.opensdf
*.log
*.pdb
*.ilk
*.idb
*.lastbuildstate
*.log
*.tlog
*.user
*.userosscache
*.exp
*.suo
*.sln.docstates
*.unsuccessfulbuild
Icons
.svn
Web/Documentation/api
Web/AxisEngine-full.js
Web/AxisEngine-min.js
Web/nbproject
/Web/Projects/Heart/nbproject/private/
/Web/Projects/Heart_/nbproject/private/